<!--recuperar_senha.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyStock - Recuperar Senha </title>
    <link rel="stylesheet" href="../css/registro_login.css">
    <link rel="shortcut icon" href="../img/logo_2.png" type="image/x-icon">
</head>
<body>
    <div class="form-container">
        <img src="../img/logo_2.png" alt="Logo" class="logo"> <!--Logo-->
        <br>
        <h2>Recuperar Senha</h2>
        <form id="recover-form">
            <input type="email" id="recover-email" placeholder="Insira seu email" required>
            <button type="submit">Enviar</button>
        </form>
        <p>Retornar para o <a href="login.html">Login</a></p>
    </div>

    <script src="../js/recuperar_senha.js"></script>

</body>
</html>
